<div class="container-fluid">
  <div class="row">

    <div
      class="col-md-4 col-md-push-8"
      role="complementary"
    >

      <form
        id="ag-search-form"
        class="card-2"
      >
        <div class="row">

        <div class="col-md-12 hidden-xs hidden-sm text-center">
          <label class="title"><i
            class="glyphicon glyphicon-search"
          ></i>
          FINDER</label>
          <span
            class="label label-success"
            ng-bind="ds.length"
            style="
              position: absolute;
              z-index: 999;
              right: 10px;
              text-align: right;
              top: 4px;
            "
          ></span>
        </div>

          <div class="col-sm-12">
            <div class="form-group clearfix">
              <label
                for="search"
                class="control-label hidden"
                ng-bind="'Search'"
              ></label>
              <input
                type="text"
                class="form-control pull-right"
                id="search"
                placeholder="Search..."
                ng-model="vm.search.meta.tags"
                style="
                  border-radius: 0;
                "
              >
            </div>
          </div>

          <div class="col-md-12 col-sm-3">
            <div class="form-horizontal form-group">
              <label class="control-label">Level</label>
              <div class="btn-group pull-right">
                <label
                  class="btn btn-default"
                  ng-model="vm.query.meta.levels[10]"
                  btn-checkbox
                  ng-bind="'10'"
                ></label>
                <label
                  class="btn btn-default"
                  ng-model="vm.query.meta.levels[9]"
                  btn-checkbox
                  ng-bind="'9'"
                ></label>
                <label
                  class="btn btn-default"
                  ng-model="vm.query.meta.levels[7]"
                  btn-checkbox
                  ng-bind="'7'"
                ></label>
              </div>
            </div>
          </div>

          <div class="col-sm-5 col-md-12">
            <div class="form-horizontal form-group">
              <label class="control-label">Stage</label>
              <div class="btn-group pull-right">
                <label
                  class="btn btn-default"
                  ng-model="vm.query.meta.stages[1]"
                  btn-checkbox
                  ng-bind="'Screen'"
                ></label>
                <label
                  class="btn btn-default"
                  ng-model="vm.query.meta.stages[2]"
                  btn-checkbox
                  ng-bind="'Technical'"
                ></label>
                <label
                  class="btn btn-default"
                  ng-model="vm.query.meta.stages[3]"
                  btn-checkbox
                  ng-bind="'Manager'"
                ></label>
              </div>
            </div>
          </div>

          <div class="col-sm-4 col-md-12">
            <div class="form-horizontal form-group">
            <label class="control-label">Restrictions</label>
              <div class="btn-group pull-right">
                <label
                  class="btn btn-default"
                  ng-model="vm.search.meta.isRemoteOk"
                  btn-radio="true"
                  ng-bind="'Phone OK'"
                ></label>
                <label
                  class="btn btn-default"
                  ng-model="vm.search.meta.isRemoteOk"
                  btn-radio="undefined"
                  ng-bind="'All'"
                ></label>
              </div>
            </div>
          </div>

          <div class="col-sm-4 col-md-12">
            <div class="form-horizontal form-group">
            <label class="control-label">Published</label>
              <div class="btn-group pull-right">
                <label
                  class="btn btn-default"
                  ng-model="vm.search.meta.isPublished"
                  btn-radio="true"
                  ng-bind="'Yes'"
                ></label>
                <label
                  class="btn btn-default"
                  ng-model="vm.search.meta.isPublished"
                  btn-radio="undefined"
                  ng-bind="'All'"
                ></label>
              </div>
            </div>
          </div>

        </div>
      </form>

    </div>

    <div class="col-md-8 col-md-pull-4">

      <div
        ng-repeat="d in ds = (vm.questionsFiltered | filter:vm.search)"
        class="question card-1"
        style="
          margin-bottom: 10px;
          padding: 10px;
        "
      >
        <span
          ng-if="d.meta.isMultiPart"
          class="label label-warning pull-right"><i
          class="glyphicon glyphicon-flash"
          ></i> MultiPart
        </span>
        <div hljs ng-bind-html="::d.body" class="body"></div>
        <div>
          <a href="#">
            <h4
              ng-if="d.notes"
              ng-click="d.isVisibleNotes = !d.isVisibleNotes"
              ng-bind="'Notes'"
              class="text-danger"
            ></h4>
          </a>
          <div
            class="notes"
            ng-show="d.isVisibleNotes"
            hljs
            ng-bind-html="::d.notes"
          ></div>
          <div
            ng-show="d.isVisibleNotes"
            class="clearfix"
          >
            <span
              class="label label-info pull-right"
            >
            <i class="glyphicon glyphicon-file"></i>
            <tt ng-bind="::d.meta.file"></tt></span>
          </div>
        </div>
      </div>
      <alert ng-if="!ds.length">No Results</alert>

    </div>

  </div>
</div>
